body {
  background-color: #eee5e0;
  font-family: Font, sans-serif;
  color: #000;
  font-size: 1vw;
  line-height: 1.6;
  letter-spacing: 0em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3.28em;
  line-height: 1.4;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.19em;
  line-height: 1.4;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.88em;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.67em;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.46em;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 0.3em;
  font-size: 1.25em;
  font-weight: 700;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  border-left: 0.3em solid #e2e2e2;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  padding: 8.8em 2.1em;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 1em;
}

.main-wrapper {
  width: 75%;
  margin-left: 25%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.work_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.work_number {
  font-size: 1.1rem;
}

.work_link {
  position: relative;
  margin-left: 4.4em;
}

.work_title {
  position: relative;
  z-index: 1;
  font-family: Font2, sans-serif;
  font-size: 14.5em;
  line-height: 0.8;
  text-transform: uppercase;
}

.work_title.is-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 25%;
  font-family: Tradegothiclt, sans-serif;
}

.work_title.is-1 {
  font-family: Tradegothiclt, sans-serif;
}

.work_img-flex {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work_img {
  position: relative;
  width: 27em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.work_img-height {
  position: relative;
  width: 100%;
  padding-top: 130%;
}

.work_photo {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.body {
  background-color: #fdfdfd;
}

.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logoleft {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: auto;
  height: auto;
}

.image.cta {
  max-width: 90%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.logoblockcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
  margin-bottom: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.headingsmall {
  margin-bottom: 19px;
  font-family: 'Tradegothiclt condeighteen', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ctawrapper {
  width: 90%;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 0.619375em;
  }

  .container {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .work_link {
    margin-left: 5vw;
  }

  .work_title {
    font-size: 17vw;
  }

  .work_img-flex {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logoblockcontainer {
    width: 60%;
  }
}

@font-face {
  font-family: 'Font';
  src: url("/assets/fonts/257a946f949547af6720830cb926200e.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font2';
  src: url("/assets/fonts/dd3a465b821afe212e5f0e613dea842b.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tradegothiclt condeighteen';
  src: url("/assets/fonts/tradegothiclt-condeighteen.woff2") format('woff2'), url("/assets/fonts/tradegothiclt-condeighteen.eot") format('embedded-opentype'), url("/assets/fonts/tradegothiclt-condeighteen.woff") format('woff'), url("/assets/fonts/tradegothiclt-condeighteen.svg") format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tradegothiclt';
  src: url("/assets/fonts/tradegothiclt-boldcondtwenty.woff2") format('woff2'), url("/assets/fonts/tradegothiclt-boldcondtwenty.eot") format('embedded-opentype'), url("/assets/fonts/tradegothiclt-boldcondtwenty.woff") format('woff'), url("/assets/fonts/tradegothiclt-boldcondtwenty.svg") format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}