<div class="global-styles">
      <div class="html w-embed">
        <style>
/* ALL PAGES CSS */
/* Desktop Only CSS (i.e. hover states) */
@media only screen and (min-width: 992px) {
}
/* Main Variables */
:root {
  --main-dark: black;
  --main-light: white;
}
/* Global Styles */
::selection {
	background: var(--main-dark);
  color: var(--main-light);
  text-shadow: none;
}
img::selection, svg::selection {
	background: transparent;
}
/* Link color inherits from parent font color  */
a {
	color: inherit;
}
/* Disable / enable clicking on an element and its children  */
.no-click {
	pointer-events: none;
}
.can-click {
	pointer-events: auto;
}
/* Target any element with a certain "word" in the class name  */
[class*="spacer"] {
}
/* Project Styles */
.work_img-flex {
	pointer-events: none;
}
</style>
      </div>
    </div>